/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: #000;
}

/*----------------------------------------*/

$primary-color: hsla(0, 0%, 0%, 0.3);

body{
	font-family: 'Source Code Pro';
}

.bold{
	font-weight: bold;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

h1{
	font-size: 14px;
	font-weight: 400;
}

/* login.html */

.container-login{
	height: 250px;
	width: 160px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;

	input{
		border: 1px solid $primary-color;
		padding: 5px;
		font-family: 'Source Code Pro';
	}

	.submit input{
		background-color: #fff;
		border: none;
		text-transform: uppercase;
	}

	.login-help{
		font-size: 10px;
		color: $primary-color;
	}
}





/* menu.html */

aside{
	width: 240px;
	height: 100%;
	position: absolute;
	left: -240px;
	top: 0;
	background: none;
	text-transform:uppercase;
	letter-spacing: 1pt;
	font-size: 13px;

	i{
		position: absolute;
		left: 260px;
		top: 30px;
		cursor: pointer;
	}

	ul{
		margin-top: 0;

		li{
			padding: 5px 10px;
			margin: 5px 0;

			a{
				display: inline-block;
				width: 100%;
				padding: 15px 0;
			}
		}

		.bold{
			margin: 30px 0;
		}

		.close-menu{
			position: absolute;
			right: 30px;
		}

		a:hover{
			text-decoration: underline;
		}
	}
}

.isActive{
	left: 0;
	background-color: hsla(360, 100%, 100%, 0.8);
}

.transition-all{
	transition: All 0.35s ease-out;
}

/* header */

header{
	background-color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	.header-row{
		width: 95%;
		padding: 0 75px;
		height: 100%;
		position: relative;
		max-width: 1220px;
		margin: auto;
		vertical-align: middle;
	}

	.desc{
		display: inline;
		width: 91.66667%;
		padding: 0;
		float: left;

		.page, .user{
			display: inline;
		}

		.user{
			margin-right: 30px;
		}


		span{
			display: block;
			color: $primary-color;
			font-size: 11px;
			padding-top: 20px;
		}
		p{
			margin: 0;
			font-size: 14px;
			text-transform: uppercase;
			margin-top: 5px;
			padding-top: 3px;
			letter-spacing: 2px;
			padding-bottom: 20px;
		}
	}
}

/*--------*/










