/* line 5, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
body {
  padding-bottom: 50px;
  font-family: "Source Code Pro";
}

/* line 11, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 15, ../sass/screen.scss */
.planning-container {
  max-width: 960px;
  margin: auto;
}

/* line 20, ../sass/screen.scss */
.f-left {
  float: left;
}

/* line 24, ../sass/screen.scss */
.f-right {
  float: right;
}

/* line 28, ../sass/screen.scss */
h1 {
  font-size: 14px;
  font-weight: 400;
}

/* line 1, ../sass/_login.scss */
.container-login {
  height: 250px;
  width: 160px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 12, ../sass/_login.scss */
.container-login input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-family: 'Source Code Pro';
}
/* line 18, ../sass/_login.scss */
.container-login .submit input {
  background-color: #fff;
  border: none;
  text-transform: uppercase;
}
/* line 24, ../sass/_login.scss */
.container-login .login-help {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/_menu.scss */
aside {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -240px;
  top: 0;
  background: none;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 13px;
}
/* line 12, ../sass/_menu.scss */
aside i {
  position: absolute;
  left: 260px;
  top: 30px;
  cursor: pointer;
}
/* line 19, ../sass/_menu.scss */
aside ul {
  margin-top: 0;
}
/* line 22, ../sass/_menu.scss */
aside ul li {
  padding: 5px 10px;
  margin: 5px 0;
}
/* line 26, ../sass/_menu.scss */
aside ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
/* line 33, ../sass/_menu.scss */
aside ul .bold {
  margin: 30px 0;
}
/* line 37, ../sass/_menu.scss */
aside ul .close-menu {
  position: absolute;
  right: 30px;
}
/* line 42, ../sass/_menu.scss */
aside ul a:hover {
  text-decoration: underline;
}

/* line 48, ../sass/_menu.scss */
.isActive {
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 53, ../sass/_menu.scss */
.transition-all {
  transition: All 0.35s ease-out;
}

/* line 1, ../sass/_header.scss */
header {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 10, ../sass/_header.scss */
header .header-row {
  max-width: 960px;
  padding: 0 75px;
  height: 100%;
  margin: auto;
  vertical-align: middle;
}
/* line 18, ../sass/_header.scss */
header .page, header .user {
  display: inline;
}
/* line 22, ../sass/_header.scss */
header .user {
  margin-right: 30px;
}
/* line 26, ../sass/_header.scss */
header span {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  padding-top: 20px;
}
/* line 32, ../sass/_header.scss */
header p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  padding-top: 3px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

/* line 1, ../sass/_timetable.scss */
table {
  margin: auto;
}
/* line 4, ../sass/_timetable.scss */
table .days {
  font-size: 13px;
}
/* line 8, ../sass/_timetable.scss */
table h3 {
  font-size: 16px;
}
/* line 12, ../sass/_timetable.scss */
table .description {
  font-size: 11px;
  font-style: italic;
  text-align: left;
  padding-left: 7px;
  max-width: 136px;
}
/* line 21, ../sass/_timetable.scss */
table tr .am-pm {
  color: black;
  padding: 25px 0;
  text-align: center;
  padding-left: 60px;
  font-size: 11px;
}
/* line 29, ../sass/_timetable.scss */
table th {
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 0 0 10px 10px;
}
/* line 34, ../sass/_timetable.scss */
table th.hours {
  width: 60px;
  padding: 0;
  text-align: center;
  font-size: 10px;
}
/* line 40, ../sass/_timetable.scss */
table th hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 25px;
}
/* line 47, ../sass/_timetable.scss */
table td {
  text-align: center;
  border: 1px solid #d8d8d8;
  height: 150px;
  font-size: 1.3rem;
  position: relative;
}
/* line 53, ../sass/_timetable.scss */
table td h3 {
  position: absolute;
  top: 15px;
  left: 7px;
  text-align: left;
}
/* line 59, ../sass/_timetable.scss */
table td .module {
  background-color: rgba(0, 0, 0, 0.1);
  display: table;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 10px;
  left: inherit;
  right: 10px;
}
/* line 68, ../sass/_timetable.scss */
table td .module p:first-of-type {
  color: #ffffff;
  padding: inherit;
  text-align: center;
  display: table-cell;
  font-size: 10px;
  vertical-align: middle;
}
/* line 77, ../sass/_timetable.scss */
table td div {
  display: block;
  font-size: 0.7rem;
  position: absolute;
  text-align: left;
  bottom: 10px;
  left: 10px;
}
/* line 84, ../sass/_timetable.scss */
table td div p {
  padding: inherit;
}
/* line 87, ../sass/_timetable.scss */
table td div p:first-of-type {
  color: rgba(0, 0, 0, 0.3);
}
/* line 91, ../sass/_timetable.scss */
table td div:last-of-type {
  left: inherit;
  right: 10px;
}
/* line 96, ../sass/_timetable.scss */
table .test2 {
  background-color: #e5eeff;
}
/* line 99, ../sass/_timetable.scss */
table .test3 {
  background-color: #fbfce7;
}
