/* line 5, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  padding-bottom: 50px;
  font-family: "Source Code Pro";
}

/* line 8, ../sass/screen.scss */
.wrapper {
  max-width: 960px;
  margin: auto;
}

/* line 13, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 17, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 21, ../sass/screen.scss */
.planning-container {
  max-width: 960px;
  margin: auto;
}

/* line 26, ../sass/screen.scss */
.f-left {
  float: left;
}

/* line 30, ../sass/screen.scss */
.f-right {
  float: right;
}

/* line 34, ../sass/screen.scss */
.relative {
  position: relative;
}

/* line 38, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 42, ../sass/screen.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 46, ../sass/screen.scss */
.no-display {
  display: none;
}

/* line 50, ../sass/screen.scss */
h1 {
  font-size: 14px;
  font-weight: 400;
}

/* line 55, ../sass/screen.scss */
h3 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  margin: 4px 0;
}

/* line 61, ../sass/screen.scss */
input::-webkit-input-placeholder {
  font-family: "source code pro";
}

/* line 65, ../sass/screen.scss */
input:-moz-placeholder {
  font-family: "source code pro";
}

/* line 69, ../sass/screen.scss */
input::-moz-placeholder {
  font-family: "source code pro";
}

/* line 73, ../sass/screen.scss */
input:-ms-input-placeholder {
  font-family: "source code pro";
}

/* line 1, ../sass/_login.scss */
.container-login {
  height: 250px;
  width: 160px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 12, ../sass/_login.scss */
.container-login h1 {
  margin-bottom: 15px;
}
/* line 16, ../sass/_login.scss */
.container-login input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-family: 'Source Code Pro';
  margin: 5px 0;
}
/* line 23, ../sass/_login.scss */
.container-login .submit input {
  background-color: #fff;
  border: none;
  text-transform: uppercase;
}
/* line 29, ../sass/_login.scss */
.container-login .login-help {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/_menu.scss */
aside {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -240px;
  top: 0;
  background: none;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 13px;
}
/* line 12, ../sass/_menu.scss */
aside i {
  position: absolute;
  left: 260px;
  top: 30px;
  cursor: pointer;
}
/* line 19, ../sass/_menu.scss */
aside ul {
  margin-top: 0;
}
/* line 22, ../sass/_menu.scss */
aside ul li {
  padding: 5px 10px;
  margin: 5px 0;
}
/* line 26, ../sass/_menu.scss */
aside ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
/* line 33, ../sass/_menu.scss */
aside ul .bold {
  margin: 30px 0;
}
/* line 37, ../sass/_menu.scss */
aside ul .close-menu {
  position: absolute;
  right: 30px;
}
/* line 42, ../sass/_menu.scss */
aside ul a:hover {
  text-decoration: underline;
}

/* line 48, ../sass/_menu.scss */
.isActive {
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 53, ../sass/_menu.scss */
.transition-all {
  transition: All 0.35s ease-out;
}

/* line 1, ../sass/_header.scss */
header {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 10, ../sass/_header.scss */
header .header-row {
  max-width: 960px;
  padding: 0 75px;
  height: 100%;
  margin: auto;
  vertical-align: middle;
}
/* line 18, ../sass/_header.scss */
header .page, header .user {
  display: inline;
}
/* line 22, ../sass/_header.scss */
header .user {
  margin-right: 30px;
}
/* line 26, ../sass/_header.scss */
header span {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  padding-top: 20px;
}
/* line 32, ../sass/_header.scss */
header p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  padding-top: 3px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

/* line 1, ../sass/_timetable.scss */
table {
  margin: auto;
}
/* line 4, ../sass/_timetable.scss */
table .days {
  font-size: 13px;
}
/* line 8, ../sass/_timetable.scss */
table h3 {
  font-size: 16px;
}
/* line 12, ../sass/_timetable.scss */
table .description {
  font-size: 11px;
  font-style: italic;
  text-align: left;
  padding-left: 7px;
  max-width: 136px;
}
/* line 21, ../sass/_timetable.scss */
table tr .am-pm {
  color: black;
  padding: 25px 0;
  text-align: center;
  padding-left: 60px;
  font-size: 11px;
}
/* line 29, ../sass/_timetable.scss */
table th {
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 0 0 10px 10px;
}
/* line 34, ../sass/_timetable.scss */
table th.hours {
  width: 60px;
  padding: 0;
  text-align: center;
  font-size: 10px;
}
/* line 40, ../sass/_timetable.scss */
table th hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 25px;
}
/* line 47, ../sass/_timetable.scss */
table td {
  text-align: center;
  border: 1px solid #d8d8d8;
  height: 150px;
  font-size: 1.3rem;
  position: relative;
}
/* line 53, ../sass/_timetable.scss */
table td h3 {
  position: absolute;
  top: 15px;
  left: 7px;
  text-align: left;
}
/* line 59, ../sass/_timetable.scss */
table td .module {
  background-color: rgba(0, 0, 0, 0.1);
  display: table;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 10px;
  left: inherit;
  right: 10px;
}
/* line 68, ../sass/_timetable.scss */
table td .module p:first-of-type {
  color: #ffffff;
  padding: inherit;
  text-align: center;
  display: table-cell;
  font-size: 10px;
  vertical-align: middle;
}
/* line 77, ../sass/_timetable.scss */
table td div {
  display: block;
  font-size: 0.7rem;
  position: absolute;
  text-align: left;
  bottom: 10px;
  left: 10px;
}
/* line 84, ../sass/_timetable.scss */
table td div p {
  padding: inherit;
}
/* line 87, ../sass/_timetable.scss */
table td div p:first-of-type {
  color: rgba(0, 0, 0, 0.3);
}
/* line 91, ../sass/_timetable.scss */
table td div:last-of-type {
  left: inherit;
  right: 10px;
}
/* line 96, ../sass/_timetable.scss */
table .test2 {
  background-color: #e5eeff;
}
/* line 99, ../sass/_timetable.scss */
table .test3 {
  background-color: #fbfce7;
}

/* line 2, ../sass/_addStudent.scss */
.head {
  padding: 20px 0;
}
/* line 4, ../sass/_addStudent.scss */
.head .sorting_title {
  font-size: 14px;
}
/* line 6, ../sass/_addStudent.scss */
.head .sorting_title #toggle_button {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid #d8d8d8;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

/* line 17, ../sass/_addStudent.scss */
.sorting {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

/* line 23, ../sass/_addStudent.scss */
.sorting2 {
  margin-left: 70px;
}

/* line 23, ../sass/_addStudent.scss */
.sorting3 {
  margin-left: 70px;
}

/* line 27, ../sass/_addStudent.scss */
.sort_title {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

/* line 32, ../sass/_addStudent.scss */
.sort_item {
  font-size: 12px;
}

/* line 36, ../sass/_addStudent.scss */
.main_content {
  background-color: #eeeeee;
  padding: 40px 0;
}
/* line 39, ../sass/_addStudent.scss */
.main_content .main_table {
  width: 80%;
  margin: auto;
}
/* line 42, ../sass/_addStudent.scss */
.main_content .main_table table {
  width: 100%;
  border: none;
}
/* line 45, ../sass/_addStudent.scss */
.main_content .main_table table th:first-of-type {
  width: 30px;
}
/* line 48, ../sass/_addStudent.scss */
.main_content .main_table table th {
  border-bottom: 1px solid #bdbdbd;
  font-size: 9px;
  padding-left: 0;
}
/* line 53, ../sass/_addStudent.scss */
.main_content .main_table table td {
  height: auto;
  border: none;
  text-align: left;
  font-size: 11px;
  vertical-align: top;
  padding-top: 20px;
}

/* line 65, ../sass/_addStudent.scss */
.adding_form {
  width: 80%;
  margin: 50px auto auto auto;
}
/* line 68, ../sass/_addStudent.scss */
.adding_form #title_form {
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: #000;
}
/* line 74, ../sass/_addStudent.scss */
.adding_form form {
  margin: auto;
}
/* line 76, ../sass/_addStudent.scss */
.adding_form form .input_group {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}
/* line 80, ../sass/_addStudent.scss */
.adding_form form .input_group label {
  display: none;
  margin-bottom: 5px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 86, ../sass/_addStudent.scss */
.adding_form form .input_group input {
  width: 100px;
}
/* line 89, ../sass/_addStudent.scss */
.adding_form form .input_group #student_mail {
  width: auto;
}
/* line 92, ../sass/_addStudent.scss */
.adding_form form .input_group #student_pass {
  width: auto;
}
/* line 95, ../sass/_addStudent.scss */
.adding_form form .input_group #student_dut {
  width: auto;
}
/* line 98, ../sass/_addStudent.scss */
.adding_form form .input_group select {
  width: auto;
}
/* line 102, ../sass/_addStudent.scss */
.adding_form form .interact_buttons {
  display: inline-block;
}
/* line 104, ../sass/_addStudent.scss */
.adding_form form .interact_buttons input {
  display: block;
  font-family: "Source Code Pro";
  font-size: 11px;
  padding: 2px 35px 2px 35px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 112, ../sass/_addStudent.scss */
.adding_form form .interact_buttons input:first-of-type {
  margin-bottom: 10px;
}

/* line 7, ../sass/_addTeacher.scss */
.adding_form form .input_group #teacher_mail {
  width: auto;
}
/* line 10, ../sass/_addTeacher.scss */
.adding_form form .input_group #teacher_pass {
  width: auto;
}

/* line 3, ../sass/_addRoom.scss */
.sorting2 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting3 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting4 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting5 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting6 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting7 {
  margin-left: 70px;
}

/* line 3, ../sass/_addRoom.scss */
.sorting8 {
  margin-left: 70px;
}

/* line 12, ../sass/_addRoom.scss */
.adding_form form .input_group #student_mail {
  width: auto;
}
/* line 15, ../sass/_addRoom.scss */
.adding_form form .input_group #student_pass {
  width: auto;
}
/* line 18, ../sass/_addRoom.scss */
.adding_form form .input_group #student_dut {
  width: auto;
}
/* line 21, ../sass/_addRoom.scss */
.adding_form form .input_group select {
  width: auto;
}

/* line 2, ../sass/_panel.scss */
.bold {
  font-weight: bold;
}

/* line 6, ../sass/_panel.scss */
.f-left {
  float: left;
}

/* line 10, ../sass/_panel.scss */
.f-right {
  float: right;
}

/* line 14, ../sass/_panel.scss */
h1 {
  font-size: 14px;
  font-weight: 400;
}

/* Liste Semaines */
/* line 22, ../sass/_panel.scss */
.weeks p {
  font-size: 14px;
}
/* line 27, ../sass/_panel.scss */
.weeks .weeks-list li {
  display: inline-block;
  margin: 0 1px;
}
/* line 31, ../sass/_panel.scss */
.weeks .weeks-list li:first-child {
  margin: 0;
}
/* line 35, ../sass/_panel.scss */
.weeks .weeks-list li a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  text-decoration: none;
  margin: 0 4px;
}
/* line 41, ../sass/_panel.scss */
.weeks .weeks-list li a:first-child {
  margin: 0;
}

/* ------------------------------------ */
/* MAIN CONTENT    -------------------- */
/* ------------------------------------ */
/* line 54, ../sass/_panel.scss */
.main-edit {
  background-color: #eeeeee;
  overflow: auto;
}

/* Creneaux */
/* line 63, ../sass/_panel.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 69, ../sass/_panel.scss */
.edit {
  width: 260px;
  background-color: #FFF;
  font-size: 12px;
}
/* line 74, ../sass/_panel.scss */
.edit .edit-container {
  padding: 10px;
}
/* line 78, ../sass/_panel.scss */
.edit .space {
  margin-right: 20px;
}
/* line 82, ../sass/_panel.scss */
.edit .user {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  text-align: center;
  position: relative;
}
/* line 90, ../sass/_panel.scss */
.edit .user a {
  display: block;
  color: #000;
  text-decoration: none;
}
/* line 96, ../sass/_panel.scss */
.edit .user img {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 20px;
}
/* line 105, ../sass/_panel.scss */
.edit .option {
  margin: 15px 0;
}
/* line 111, ../sass/_panel.scss */
.edit .module .module-container {
  height: 135px;
  overflow: scroll;
  margin-top: 10px;
}
/* line 118, ../sass/_panel.scss */
.edit .module .mod {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  opacity: 0.5;
}
/* line 129, ../sass/_panel.scss */
.edit .module .m23 {
  background-color: #c8cde5;
}
/* line 130, ../sass/_panel.scss */
.edit .module .m24 {
  background-color: #c8e5ca;
}
/* line 131, ../sass/_panel.scss */
.edit .module .m26 {
  background-color: #e0e5c8;
}
/* line 132, ../sass/_panel.scss */
.edit .module .m27 {
  background-color: #e5d9c8;
}
/* line 133, ../sass/_panel.scss */
.edit .module .m28 {
  background-color: #e5cbc8;
}
/* line 134, ../sass/_panel.scss */
.edit .module .m29 {
  background-color: #ddc8e5;
}
/* line 136, ../sass/_panel.scss */
.edit .module input[type="radio"]:checked + .mod {
  border: none;
  opacity: 1;
}
/* line 142, ../sass/_panel.scss */
.edit .duree {
  /* Placeholder color */
}
/* line 144, ../sass/_panel.scss */
.edit .duree input[type="text"] {
  border: none;
  width: 60px;
  padding: 0;
  font-size: 12px;
  font-family: 'Source Code Pro';
}
/* line 152, ../sass/_panel.scss */
.edit .duree input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid black;
}
/* line 157, ../sass/_panel.scss */
.edit .duree input[type="text"]:checked + label {
  border-bottom: 1px solid black;
}
/* line 161, ../sass/_panel.scss */
.edit .duree .duree-container {
  position: relative;
  text-align: center;
}
/* line 167, ../sass/_panel.scss */
.edit .duree ::-webkit-input-placeholder {
  color: #000;
  font-family: 'Source Code Pro';
  font-size: 12px;
}
/* line 172, ../sass/_panel.scss */
.edit .duree :-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Source Code Pro';
}
/* line 177, ../sass/_panel.scss */
.edit .duree ::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: 'Source Code Pro';
}
/* line 182, ../sass/_panel.scss */
.edit .duree :-ms-input-placeholder {
  color: #000;
  font-family: 'Source Code Pro';
}
/* line 189, ../sass/_panel.scss */
.edit .groupe p {
  margin: 0;
}
/* line 195, ../sass/_panel.scss */
.edit .details .description {
  display: block;
  width: 100%;
  margin-top: 5px;
}
/* line 203, ../sass/_panel.scss */
.edit input[type="radio"], .edit input[type="checkbox"] {
  display: none;
}
/* line 206, ../sass/_panel.scss */
.edit label {
  line-height: 18px;
  cursor: pointer;
}
/* line 210, ../sass/_panel.scss */
.edit input[type="radio"]:checked + label, .edit input[type="checkbox"]:checked + label {
  border-bottom: 1px solid black;
}

/* line 215, ../sass/_panel.scss */
.draggableBox {
  width: 200px;
  height: 200px;
  background-color: #000000;
  position: absolute;
  cursor: move;
}

/* Anim */
/* line 239, ../sass/_panel.scss */
.transition-all {
  transition: All 0.35s ease-out;
}
