
.head{
    padding: 20px 0;
    .sorting_title{
        font-size: 14px;
        #toggle_button{
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 7px solid #d8d8d8;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent ;
        }
    }
}

.sorting{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    }
@for $i from 2 through 3{
    .sorting#{$i}{
        margin-left: 70px;
    }
}
    .sort_title{
        font-size: 10px;
        color: $primary-color;
        margin-bottom: 5px;
    }
    .sort_item{
        font-size: 12px;
    }

.main_content{
    background-color: #eeeeee;
    padding: 40px 0;
    .main_table{
        width: 80%;
        margin: auto;
        table{
            width: 100%;
            border: none;
            th:first-of-type{
                width: 30px;
            }
            th{
                border-bottom: 1px solid #bdbdbd;
                font-size: 9px;
                padding-left: 0;
            }
            td{
                height: auto;
                border: none;
                text-align: left;
                font-size: 11px;
                vertical-align: top;
                padding-top: 20px;
            }
        }
    }
}

.adding_form{
    width: 80%;
    margin: 50px auto auto auto;
    #title_form{
        font-size: 14px;
        margin-bottom: 20px;
        padding-left: 10px;
        color: #000;
    }
    form{
        margin: auto;
        .input_group{
            float: left;
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            label{
                display: none;
                margin-bottom: 5px;
                font-size: 11px;
                color: $primary-color;
            }
            input{
                width: 100px;
            }
            #student_mail{
                width: auto;
            }
            #student_pass{
                width: auto;
            }
            #student_dut{
                width: auto;
            }
            select{
                width: auto;
            }
        }
        .interact_buttons{
            display: inline-block;
            float: right;
            input{
                font-family: "Source Code Pro";
                font-size: 11px;
                padding: 2px 25px 2px 25px;
                background-color: #FFFFFF;
                border: 1px solid $primary-color;
            }
            input:first-of-type{
                margin-bottom: 10px;
            }
        }
    }
}