.login{
    height: 100%;
    width: 100%;
    background-color: #eeeeee;

    .container-login {
        height: 200px;
        width: 160px;
        padding: 20px;
        margin: auto;
        background-color: #FFF;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;

        h1{
            margin: 15px 0;
        }

        input {
            border: 1px solid $primary-color;
            padding: 5px;
            font-family: 'Source Code Pro';
            margin: 5px 0;
        }

        .submit input {
            margin-top: 10px;
            background-color: #fff;
            border: none;
            text-transform: uppercase;

            &:hover{
                text-decoration: underline;
            }
        }

        .login-help {
            margin-top: 10px;
            font-size: 10px;

            a{
                color: $primary-color;
            }
        }
    }
}