@import "var";

body {
    padding-bottom: 50px;
    padding-top: 75px;
    font-family: "Source Code Pro";
}

.bold {
    font-weight: bold;
}

.planning-container {
    max-width: 960px;
    margin: auto;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

h1 {
    font-size: 14px;
    font-weight: 400;
}

@import "login";
@import "menu";
@import "header";
@import "timetable";
@import "addStudent";
@import "addTeacher";
